:root {
    --black: #262626;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #eee;
  margin: 0; 
}

main {
    padding: 0 30px;
}

h1 {
 font-size: 1.5em;
 color: var(--black);
}

h3 {
    font-weight: normal;
}

#v60 {
    background: 
    linear-gradient(
      rgba(76,183,76, 0.8), 
      rgba(76,183,76, 0.8)
    ),
    
    url(https://images.unsplash.com/photo-1458872590620-5056e3311cad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea8be6a18412a1ceb101c00d4959c9f6&auto=format&fit=crop&w=1778&q=80);
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
}

#frenchpress {
    background: 
    linear-gradient(
      rgba(76,183,76, 0.8), 
      rgba(76,183,76, 0.8)
    ),

    url(https://images.unsplash.com/photo-1534177566139-01a4cd4c7574?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0b232a87305c4d08f48f90b1dc5ffb05&auto=format&fit=crop&w=668&q=80);
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
}

#chemex {
    background: 
    linear-gradient(
      rgba(76,183,76, 0.8), 
      rgba(76,183,76, 0.8)
    ),

    url(https://images.unsplash.com/photo-1515348876616-f8ec11b01b6a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=935ec8e6a14d7b0cdf2e4d0e92cdcfe3&auto=format&fit=crop&w=668&q=80);
    background-size: cover;
    background-position: 20% 50%;
    background-repeat: no-repeat;
    
}

.tile {
    padding: 35px 20px;
    color: #F1F1F1;
    margin-bottom: 25px;
}

fieldset {
    border: 0;
}


@media (min-width: 640px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

